<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <!-- Burada veritabani baglantisi var. Baska yere kurarken degistiriniz -->
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <!--<add name="LocalSqlServer" connectionString="Data Source=.\SQL2008;Initial Catalog=MSTNT;User Id=sa;Password=1980?wer;"/>-->
    <add name="LocalSqlServer" connectionString="Server=.\SQLEXPRESS;Database=MSTNT3;Trusted_Connection=True;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" legacyCasModel="true"/>
    <!--<trust level="Full"/>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Web.v8.3"/>
        <add assembly="DevExpress.Web.ASPxEditors.v8.3"/>
        <add assembly="DevExpress.Web.ASPxGridView.v8.3"/>
        <add assembly="DevExpress.Web.ASPxGridView.v8.3.Export"/>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v8.3"/>
        <add assembly="DevExpress.XtraCharts.v8.3"/>
        <add assembly="DevExpress.XtraPrinting.v8.3"/>
        <add assembly="DevExpress.XtraPrinting.v8.3.Design"/>
        <add assembly="DevExpress.XtraReports.v8.3.Web"/>
        <add assembly="DevExpress.XtraReports.v8.3"/>
        <add assembly="DevExpress.Data.v8.3"/>
        <add assembly="DevExpress.Utils.v8.3"/>
        <add assembly="DevExpress.XtraReports.v8.3.Import"/>
        <add assembly="DevExpress.XtraReports.v8.3.Design"/>
        <add assembly="DevExpress.XtraRichEdit.v8.3"/>
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v8.3"/>
        <add assembly="DevExpress.Web.ASPxSpellChecker.v8.3"/>
        <add assembly="DevExpress.XtraSpellChecker.v8.3.Core"/>
        <add assembly="DevExpress.XtraCharts.v8.3.Web"/>
        <add assembly="DevExpress.Charts.v8.3.Core"/>
        <add assembly="DotNetZip"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="120" name=".ASPXFORMSAUTH"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="modelcrm" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="100000" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <add name="SqlRoleManager" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="modelcrm"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <sessionState mode="InProc" timeout="180"/>
    <pages enableViewStateMac="false" viewStateEncryptionMode="Auto" theme="Global" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto"/>
    <globalization culture="tr-TR" uiCulture="tr-TR"/>
    <httpRuntime maxRequestLength="40000" requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="admin@mbi.com.tr">
        <network host="smtp.mbi.com.tr" port="25" userName="model@mbi.com.tr" password="model" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="account">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
      </authorization>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
        <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions"/>
      </modules>
      <handlers>
        <remove name="WebServiceHandlerFactory-Integrated"/>
        <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions"/>
        <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions"/>
        <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions"/>
      </handlers>
    </system.webServer>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="~/Default.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="Problem" value="1"/>
      <add key="SmtpServer" value="smtp.gmail.com"/>
      <add key="SmtpPort" value="587"/>
      <add key="SmtpEnabledSsl" value="true"/>
      <add key="SmtpUserName" value="mstntgundem1"/>
      <add key="SmtpFrom" value="mstntgundem1@gmail.com"/>
      <add key="SmtpPassword" value="Drd201.6"/>
      <add key="SavsaklamaSendList" value="hakan.dogan@msn.com;biradam@biradam.com.tr"/>
    </appSettings>
  </location>
</configuration>